<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>


<script>


$.ajax({
 url:"https://jsonplaceholder.typicode.com/posts",
 method: 'GET',
 contentType: 'application/json',
 success: function(posts) {
    console.log("Data=>",posts);
     $.each(posts,function(index,post){

      document.write("<ul><li>"+post.title+"</li></ul>");
    });
 }
});


console.log(data);

</script>