{% load static %}

<div id="recents">

<div class="row">

              <div class="col-xl-9 grid-margin-lg-0 grid-margin stretch-card">
              <div class="card">
              <div class="card-body">
              <div class="form-group">



              <table>
              <tr>
              <th><div class="user-image">
              <img src="{% static 'images/user.png' %}" style = "width: 75%;">
              </div></th>
              <th><h3>@username<h3></th>
               
              </tr>
              </table><br>
              <textarea class="form-control" id="exampleTextarea1" rows="4" disabled></textarea>
              <br>
              <textarea class="form-control" id="exampleTextarea1" rows="1" style = "width: 90%; float:left;"></textarea>
              <button type="button" class="btn btn-primary btn-rounded btn-fw" style = "float: right;">Interact</button>
               </div>
               </div>
              </div>
            </div> 
            <br>

          </div>

              <div class="row">
              <div class="col-xl-9 grid-margin-lg-0 grid-margin stretch-card">
              <div class="card">
              <div class="card-body">
           
              <div class="form-group">
              <h4>@username</h4>
              <p>Consequat, enim fames litora fusce nullam scelerisque! Donec integer cubilia taciti dictumst penatibus per eros arcu ultrices. Malesuada curae; faucibus fusce feugiat sociis in ante nibh. Suscipit hac libero magnis</p>
              </div>

            </div></div></div></div>

        </div>